.projects {
    min-height: 100vh; 
    width: 70%;
    margin: auto;
    padding-bottom: 100px; 
    box-sizing: border-box;
}

.projects > h2 {
    margin-top: 150px;
    text-align: center;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: -1px;
    word-spacing: 20px;
}

.project-container {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}


@media (max-width: 768px) {
    .projects {
        width: 90%;
    }

    .projects > h2 {
        font-size: 45px;
        margin-top: 100px;
    }

    .project-container {
        gap: 30px;
    }
}


@media (max-width: 480px) {
    .projects {
        width: 100%;
        padding: 0 10px; 
    }

    .projects > h2 {
        font-size: 30px;
        margin-top: 70px;
    }

    .project-container {
        gap: 20px;
    }
}
